/*Login*/
.login{
    background: green;
    width: 50%;
    margin: 5% 1% 1% 25%;
    padding: 2%;
    border-radius: 20px;
    text-align: left;
    overflow: hidden;
}
.part1{
    width: 50%;
    overflow: hidden;
    float: left;
}
.part2{
    overflow: hidden;
    width: 50%;
    float: left;
}
.login h1{
    text-align: center;
    color: white;
}
.login form p{
    color: white;
    font-size: 20px;
    width: 60%;
    margin: 0%;
    overflow: hidden;
}
.campoTexto{
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
}

.boton1{
    width: 50%;
    float: right;
    margin: 2% 28% 1% 1%;
    border-radius: 5px;
}
.img1{
    overflow: hidden;
    width: 100%;
    height:184px;   
    border-radius: 50px;
    -webkit-animation-name: animar;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -webkit-transform-style: preserve-3d;
    animation-direction: alternate;
}
#msjOculto{
    text-align: center;
    margin-top: 35%;
}

#msjOculto2{
    text-align: center;
    margin-top: 50%;
}








/*--- Animaciones ---*/
@keyframes animar{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(45deg);}
}